<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
</head>
<body>
    <h1>Список дел</h1>
<div th:each="case : ${cases}">
    <a th:href="@{/cases/{id}(id=${case.getId()})}" class="case-link" th:attr="data-id=${case.id}" th:text="${case.getName()}">case</a>
    <a th:href="@{/case-delete/{id}(id=${case.getId()})}">Удалить</a>
    <a th:href="@{/update/{id}(id=${case.getId()})}">Изменить</a>
</div>
    <a th:href="@{/cases/new}">Добавить дело</a>
<br><br>
    <a th:href="@{case-deleteAll/}">Удалить все дела</a>
</body>
</html>