<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить дело</title>
</head>
<body>
    <form th:method="PUT" th:action="@{/update}" th:object="${case}">
        <p th:text="${case.getId()}">id</p>
        <label for="name">Название дела: </label>
        <input type="text" th:field="*{name}" id="name" />
        <label for="date">Дата: </label>
        <input type="text" th:field="*{date}" id="date" />
        <p><input type="submit" value="Изменить" />
    </form>
</body>
</html>