<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
</head>
<body>
    <div id="todo-form">
        <form method="POST" action="/">
            <h2>Добавление дела</h2>
            <label for="name">Название дела:</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="date">Дата:</label>
            <input type="text" name="date" id="date">
            <hr>
            <input type="submit" value="Сохранить">
        </form>
    </div>
    <h1>Список дел</h1>
<div th:each="case : ${cases}">
    <a th:href="${/cases/{id}(id=${case.getId()})}" th:text="${case.getName()}">case</a>
</div>
</body>
</html>